*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 header{
    padding: 26px;
    display: flex;
    gap: 40px;
 }

.logo-santander {
    width: 140px;
}

a{
    cursor: pointer;
}

.link-1{
    color:#ED0000;
    font-weight: 600;
    font-size: 20px;
}

.link-2 {
    font-size: 18px;
}

.link-1:hover {
    text-decoration: underline;
}

.link-2:hover {
    text-decoration:underline ;
}

.imagem-principal {
    width: 100%;
}

h3 {
    margin-top:3rem;
    margin-left: 80px;
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: 400;
}

li {
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    margin-bottom: 70px;
    margin-left: 80px;
    cursor: pointer;
}

li:hover {
    color: #ED0000;
    box-shadow:blue 0px 30px 50px 10px; ;
}